<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="learnChineseApp">
    <div ng-view></div>
    @RenderBody()
    @*<hr />*@
    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>

    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @*@Scripts.Render("~/bundles/signalR")*@
    @Scripts.Render("~/bundles/appjs")
    @*<script src="signalr/hubs"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
